<h1 id="title">Eat-Da-Burger!</h1>

<img id="burgerPic" src="../img/burger.png">


<h2 id="toBeDevoured">Burgers Waiting To Be Devoured</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{burger devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 id="burgersDevoured">Burgers Devoured</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{burger devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h3 id="burgerAdd">Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour It!</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not yet devoured!
  </div>

  <button id="burgerBtn" type="submit">Add Burger</button>
</form>
