<h1 id="title">Eat-Da-Burger!</h1>

<img id="burgerPic" src="../img/burger.png">

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h3 id="burgerAdd">Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burg"></label>
    <input type="text" id="burg" name="name">
  </div>

  <button id="burgerBtn" type="submit">Submit</button>
</form>



<!-- 1. When user hits submit, the burger name must appear as textbox in left
        - It must have a corresponding "Devour it!" button

     2. When user hits "Devour it!", burger name must move to right + remove btn   


  <div class="form-group">
    <label for="devour">Devour It!</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not yet devoured!
  </div>

-->