body {
    background: pink;
}

#burgerPic {
    height: 110px;
    width: 110px;
    margin-left: 470px;
}

#title {
    text-align: center;
}

ul {
    list-style: none;
}
#burgerBtn {  /*Submit button*/
    margin-top: 20px;
    margin-left: 500px;
}

.toTheRight { /*Devoured Burgers Area*/
    text-align: right;
    margin-right: 150px;
    margin-top: -110px !important;
}

.toTheLeft { /*Burgers To Be Devoured*/
    text-align: left;
    margin-top: -140px;
}

#music {
    margin-top: 30px !important;
    margin-left: 370px;
}

#burgerAdd { /*Add a Burger Text*/
    margin-left: 470px;
    margin-top: 80px;
}

.form-group { /*The input box*/
    margin-top: 20px;
    margin-left: 470px !important;
}