body {
    background: pink;
}

#burgerPic {
    height: 110px;
    width: 110px;
    margin-left: 470px;
}

#title {
    text-align: center;
}

#burgerBtn {  /*Submit button*/
    position: fixed;
    margin-top: 180px;
    margin-left: 500px;
}

#toTheRight { /*Devoured Burgers Area*/
    text-align: right;
    margin-right: 200px;
    margin-top: -270px !important;
}

#toTheLeft { /*Burgers To Be Devoured*/
    text-align: left;
}

.music {
    margin-top: 280px !important;
    margin-left: 370px;
}

#burgerAdd { /*Add a Burger Text*/
    position: fixed;
    margin-left: 470px;
    margin-top: 120px !important; 
}

.form-group { /*The input box*/
    position: fixed;
    margin-top: 150px !important;
    margin-left: 470px !important;
}